---
import "@fontsource-variable/dm-sans";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";
---

<BaseLayout>
  <Header />
  <hr />
  <main class="mx-auto max-w-5xl">
    <Container />
  </main>
  <Footer class="flex justify-center items-center py-4" />
</BaseLayout>
