---
import ContactCard from "./ContactCard.astro";
const contact = await Astro.glob("../pages/contact/*.md");
---

<footer class="flex justify-center items-center bg-transparent py-4">
  <div class="flex flex-wrap content-around gap-4 justify-center">
    {
      contact.map((item) => {
        return (
          <ContactCard
            url={item.frontmatter.url}
            url_name={item.frontmatter.title}
            icon={item.frontmatter.icon}
          />
        );
      })
    }
  </div>
</footer>
