---
import { Icon } from "astro-icon/components";
---

<div
  class="flex items-center absolute top-4 right-4 md:top-6 md:right-6 lg:top-8 lg:right-8 xl:top-10 xl:right-10 z-10"
>
  <Icon name="carbon:moon" class="w-4 h-4" />
  <input
    type="checkbox"
    data-toggle-theme="black,lofi"
    class="toggle toggle-sm mx-1 bg-secondary"
  />
  <Icon name="carbon:light" class="w-4 h-4" />
</div>
