---
import ThemeToggle from "../components/ThemeToggle.astro";
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Nathanael Garza</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <ThemeToggle />
    <slot />
  </body>
</html>
